<a href="{{ .RelPermalink }}" class="p-4 text-center border-2 shadow-lg">
  <div class="w-40 mx-auto">
   {{ if isset .Params "herourl"}}
     {{ $herourl := .Params.herourl }}
     {{ range .Params.heroimg }}
       <img style="width: 160px; height: 100px; object-fit: cover;" class="block w-full" src="{{ $herourl }}{{ . }}" />
     {{ end }}
   {{ else }}
      <img style="width: 160px; height: 100px; object-fit: cover;" class="block w-full" src="{{ .Params.heroimg }}" />
   {{ end }} 
  </div>
  <div class="mt-4">
    <div class="font-brand font-bold">{{ .Params.title }}</div> 
    
  </div>
</a>