{{ define "main" }}
  <div class="container mx-auto">
    <div class="md:grid gap-8">
      <div class="max-w-1 xfloat-right p-8 md:max-w-none md:float-none md:p-0 ">
      {{ if isset .Params "herourl"}}
        {{ $herourl := .Params.herourl }}
        {{ range .Params.heroimg }}
          <img id="sbheroimg"  class="block w-full" src="{{ $herourl }}{{ . }}" />
        {{ end }}
      {{ else }}
         <img id="sbheroimg" class="block w-full" src="{{ .Params.heroimg }}" />
      {{ end }} 
      </div>
      <div>
        <h1 id="sbtitle" class=" text-4xl ">{{ .Params.title }}</h1>
        
        <div id="sbcontent">
          {{ .Content }}
        </div>
        <a class="underline text-blue-600" href="../">Back to All Posts</a>
      </div>
    </div>
  </div>
{{ end }}
