<footer class="py-12 border-t border-indigo-700">
  <div class="max-w-7xl mx-auto text-center">
    <div>{{ i18n "copyright" }} {{ i18n "wordCount" . }} <a href="https://www.speedsizeinfluence.com">dindi&copy;</a> {{ now.Format "2006" }}</div>
    {{ with site.Params.credits }}
    <div>
      {{ $.RenderString . }}
    </div>
    {{ end }}
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
<script>
//const { StoryblokBridge, location } = window
const { StoryblokBridge, location } = window
const storyblokInstance = new StoryblokBridge()

 
storyblokInstance.on(['published', 'change'], () => {
    // reload page if save or publish is clicked
    location.reload(false)
})

storyblokInstance.on('input', (event) => {
   converter = new showdown.Converter(),
   html = converter.makeHtml(event.story.content.content);
   document.getElementById("sbcontent").innerHTML = html
   document.getElementById("sbheroimg").src = event.story.content.heroImg.url
   document.getElementById("sbtitle").innerHTML = event.story.content.title
   console.log(html)
})

</script>